@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 35%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;


}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;

}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a :hover {
    color: grey;

}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;

}


.rightNav {
    width: 50%;
    text-align: right;
    padding: 0 23px;

}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;

}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/food01.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 80%;
}

.firstSection {
    height: 100vh;

}

.fristHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}



.text-big {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;

}

.text-small {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;


}

.abc {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;

}

.abc-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-family: 'Dancing Script', cursive;
}

.section {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

.section-left {
    flex-direction: row-reverse;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

.paras {
    padding: 0px 65px;
}


.thumbnail img {
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 19px;
}

.sectionTag{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    padding: 16px 0;
}

.sectionSubTag{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}

.container footer{
    
    font-family: 'Dancing Script', cursive;
}